* { box-sizing: border-box; }

table.records-listing {
	border: 1px solid gray;
	border-spacing: 0;
	border-collapse: collapse;
}

table.records-listing > * > tr > td,
table.records-listing > * > tr > th {
	padding: .16ex .66ex;
	border: 1px solid gray;
}

table.records-listing > thead > tr > th {
	background: #eff;
}

table.records-listing > tbody > tr:nth-child(even) {
	background: #eee;
}

table.records-listing > tbody > tr:hover {
	background: #ddd;
}

td.numeric {
	text-align: right;
	font-family: monospace;
}

.action-button-main {
	width: 100%;
	min-height: 4ex;
}
