table.records-listing {
	border: 1px solid gray;
	border-spacing: 0;
	border-collapse: collapse;
}

table.records-listing > * > tr > td,
table.records-listing > * > tr > th {
	padding: .33ex 1.66ex;
	border: 1px solid gray;
}

table.records-listing > thead > tr > th {
	background: #eff;
}

td.numeric {
	text-align: right;
	font-family: monospace;
}
